.card {
  
  width: 100%;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px 17px 27px 27px;
}

.title {

  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 700;
  font-size: 13px;
  color: #47484b;
}

.title::after {
  content: '';
  width: 8ch;
  height: 1px;
  position: absolute;
  bottom: -1px;
  background-color: #47484b;
}

.comments {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 20px;
  padding: 20px;
}

.comment-react {
  width: 35px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.comment-react button {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: none;
}

.comment-react button:after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: -2.5px;
  top: -2.5px;
  background-color: #f5356e;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
}

.comment-react button svg {
  position: relative;
  z-index: 9;
}

.comment-react button:hover:after {
  animation: ripple 0.6s ease-in-out forwards;
}

.comment-react button:hover svg {
  fill: #f5356e;
}

.comment-react button:hover svg path {
  stroke: #f5356e;
  fill: #f5356e;
}

.comment-react hr {
  width: 80%;
  height: 1px;
  background-color: #dfe1e6;
  margin: auto;
  border: 0;
}

.comment-react span {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 13px;
  font-weight: 600;
  color: #707277;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.comment-container .user {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px;
}

.comment-container .user .user-pic {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
}

.comment-container .user .user-pic:after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  background-color: #0fc45a;
  border: 2px solid #ffffff;
}

.comment-container .user .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
}

.comment-container .user .user-info span {
  font-weight: 700;
  font-size: 12px;
  color: #47484b;
}

.comment-container .user .user-info p {
  font-weight: 600;
  font-size: 10px;
  color: #acaeb4;
}

.comment-container .comment-content {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #5f6064;
}

.text-box {
  
  height: fit-content;
  background-color: #f1f1f1;
  padding: 8px;
}

.text-box .box-container {
  background-color: #ffffff;
  border-radius: 8px 8px 21px 21px;
  padding: 8px;
}

.text-box textarea {
  
  height: 40px;
  resize: none;
  border: 0;
  border-radius: 6px;
  padding: 12px 12px 10px 12px;
  font-size: 13px;
  outline: none;
  caret-color: #0a84ff;
}

.text-box .formatting {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
}

.text-box .formatting button {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.text-box .formatting button:hover {
  background-color: #f1f1f1;
}

.text-box .formatting .send {
  width: 30px;
  height: 30px;
  background-color: #0a84ff;
  margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
  background-color: #026eda;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Para la subida de archivos */


.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: #497364;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}

form button {
  margin-top: 1px;
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}

form button:hover {
  background-color: rgb(14, 14, 14);
}

/* Hasta Aqui */

/* Para el header------------------- */
header{
  background-image: url("/imagenes/Starbucks-160322-a.jpg");
  background-repeat:repeat-y;
  background-size: cover;
  width: 100%;
  border-image: fill 0 linear-gradient(#0001,#000)

}

#Play{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar{
  padding: 20px;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 50px;
  color: white;
}
.navbar button {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #03734A ;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  /* box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3); */
}

.navbar button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.navbar button:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.navbar button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
/* hasta aqui */


/* para main */
main{
  color: black;
  background-image: url('/imagenes/nueva.avif');
  border-image: fill 0 linear-gradient(#0001,#000);
  background-repeat: no-repeat;
  background-size: cover;
}
main h1{
  color: black;
}

#numero1{
  margin-top: .5%;
  display: flex;
  align-items: center;
  color: white;
  
}
.numero12{
  margin-right: 10%;
}
.numero13{
  margin-left: 8%;
  display: grid;
  grid-template-columns:repeat(auto-fill,minmax(140px,1fr));
  gap: 10px;
}
 
.numero13 img{
  width: 70%;
  height: auto;
}

#numero2 ,#numero2 h1{
  color: white;
}
/* hasta aqui */
#numero2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#redireccionador{
  display: flex;
  justify-content: center;
  padding: 5%;
}

.Titulos h1{
  color: white;
}

.Titulos{
  display: flex;
  justify-content: center;
}
#modificador {
  background-color:#497364; /* Color de fondo del contenedor */
  padding: 20px;
  width: 300px; /* Ancho del contenedor */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra sutil */
  margin: 20px; /* Espacio exterior para evitar que esté pegado a otros elementos */
}

#modificador section {
  display: flex;
  align-items: center; /* Centrado vertical de los elementos de cada sección */
  justify-content: space-between; /* Distribución de espacio entre etiqueta y botón */
  margin-bottom: 10px; /* Espacio entre secciones */
}

#modificador label {
  flex: 1; /* Ocupar todo el espacio posible */
  margin-right: 10px; /* Espacio entre el label y el botón */
}

#modificador button {
  background-color: #03734A; /* Color de fondo del botón */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px; /* Bordes redondeados para el botón */
  cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transición suave para efectos */
}

#modificador button:hover {
  background-color: #026440; /* Cambio de color al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}
.plataforma{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
#numero2{
  flex-direction: column;
  
}

.cajasTexto{
  display: flex;
  justify-content: center;
  gap: 5%;
}


/* Para la responsividad */
@media only screen and (max-width: 600px) {
  .navbar{
      display: flex;
      justify-content: center;
      flex-direction: column;
      row-gap: 5px;
      width: -10px;
  }

  #Play{
      display: block;
      
      
  }
  .social-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
  #numero1{
    flex-direction: column;
  }
  .numero12{
    margin: -10% 10% 10% 10%;
  }
  .numero13 {
    margin-left: 20%;
  }
  #numero2{
    flex-direction: column;
  }
  #modificador{
    margin-top: 10%;
  }
  .plataforma{
    flex-direction: column;
  }
}
/* hasta aqui la responsividad */

.oculto {
  display: none;
}

.visible {
  display: block;
}

.form {
  width: 360px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color:lightslategray;
  border-image: fill 0 linear-gradient(#0001,#000);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: .4s ease-in-out;
}

.form:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  scale: 0.99;
}

.heading {
  position: relative;
  text-align: center;
  color: black;
  top: 3em;
  font-weight: bold;
}

.check {
  position: relative;
  align-self: center;
  top: 4em;
}

.objElim{
  background-color:white;
  border-radius: 5px;
  width: 70%;
  box-shadow: inset 3px 3px 6px #d1d1d1,
            inset -3px -3px 6px #ffffff;
            top: 6.5em;
            left: 1.5em;
            padding-left: 15px;
            transition: .4s ease-in-out;
            margin-left: 12%;
}

.input {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  margin: 1em;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color:#637381;
  box-shadow: inset 3px 3px 6px #d1d1d1,
            inset -3px -3px 6px #ffffff;
  top: 6.5em;
  left: 1.5em;
  padding-left: 15px;
  transition: .4s ease-in-out;
}

.input:hover {
  box-shadow: inset 0px 0px 0px #d1d1d1,
            inset 0px 0px 0px #ffffff;
  background-color: lightgrey;
}

.input:focus {
  box-shadow: inset 0px 0px 0px #d1d1d1,
            inset 0px 0px 0px #ffffff;
  background-color: lightgrey;
}

.btn1 {
  position: relative;
  top: 8.5em;
  left: 2.4em;
  width: 22em;
  height: 3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  box-shadow: 1px 1px 3px #b5b5b5,
             -1px -1px 3px #ffffff;
}

.btn1:active {
  box-shadow: inset 3px 3px 6px #b5b5b5,
            inset -3px -3px 6px #ffffff;
}

.btn2 {
  position: relative;
  top: 9.5em;
  left: 2.4em;
  width: 22em;
  height: 3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  box-shadow: 1px 1px 3px #b5b5b5,
             -1px -1px 3px #ffffff;
}

.btn2:active {
  box-shadow: inset 3px 3px 6px #b5b5b5,
            inset -3px -3px 6px #ffffff;
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
  #numero2{
    flex-direction: column;
    row-gap: 15px;
  }
}

@media (width > 1000px) {
  .plataforma{
    gap:100px;
  }
}

#mensajeBienvenida {
  display: none; /* oculto inicialmente */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:black;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000}


